Django==1.7.7
django-appconf==1.0.2
django-catalog==0.0.6
django-classy-tags==0.3.5
django-imagekit==0.3.3
django-js-asset==0.1.1
django-mptt==0.7.4
django-page-cms==1.6.2
django-tinymce==2.7.0
pilkit==2.0
Pillow==5.0.0
python-memcached==1.59
redsolutioncms.django-chunks==0.2.4
redsolutioncms.django-seo==0.3.6
redsolutioncms.django-simple-feedback==0.4.2
redsolutioncms.django-tinymce-attachment==0.5.7.1
six==1.11.0
South==0.8.4
